---
import "@fontsource/oswald";
import TecnoIcon from "./TecnoIcon.astro";
interface Props {
  color: string;
  category: string;
  icons: { src: string; name: string; alt: string }[];
}

const { color, category, icons } = Astro.props;
---

<div class="p-4 shadow-inner rounded-xl shadow-indigo-500/50">
  <h4 class=`text-center my-4 font-semibold ${color} text-3xl font-oswald`>
    {category}
  </h4>
  <div class="grid grid-cols-3 gap-4">
    {
      icons.map((icon) => (
        <TecnoIcon src={icon.src} name={icon.name} alt={icon.alt} />
      ))
    }
  </div>
</div>
