---
interface Props {
  title: string;
  desc: string;
  tecnoImg: { tecnoSrc: string; tecnoAlt: string }[];
  proySrc: string;
  proyAlt: string;
  shadow: string;
  gradient: string;
}

const { title, desc, tecnoImg, proySrc, shadow, gradient, proyAlt } =
  Astro.props;
---

<!-- hover:shadow-blue-500/50 shadow-blue-900/50 --><!-- from-red-950 via-red-150 to-grey-50 -->
<div
  class=` shadow-lg ${shadow} ${gradient} rounded-lg flex flex-col text-white`
>
  <img class="w-full h-48 rounded-t-lg" src={proySrc} alt={proyAlt} />
  <div class="p-4">
    <h2 class="text-xl font-semibold mb-2">{title}</h2>
    <p class="mb-4 text-lg">{desc}</p>

    <div class="flex">
      {
        tecnoImg.map((img, index) => (
          <div class="w-12 h-12 mx-2 overflow-hidden">
            <img src={img.tecnoSrc} alt={img.tecnoAlt} />
          </div>
        ))
      }
    </div>
  </div>
</div>
