---
import "@fontsource/angkor";
interface Props {
  title: string;
  desc: string;
  tecnoImg: { tecnoSrc: string; tecnoAlt: string }[];
  proySrc: string;
  proyAlt: string;
  shadow: string;
  gradient: string;
  status: string;
  url: string;
}

const {
  title,
  desc,
  tecnoImg,
  proySrc,
  shadow,
  gradient,
  proyAlt,
  status,
  url,
} = Astro.props;
---

<!-- hover:shadow-blue-500/50 shadow-blue-900/50 --><!-- from-red-950 via-red-150 to-grey-50 -->
<div
  class={`shadow-lg ${shadow} ${gradient} rounded-lg flex flex-col text-white`}
>
  <img class="w-full h-48 rounded-t-lg" src={proySrc} alt={proyAlt} />
  <div class="p-4 relative">
    <!-- Añadimos relative para que la posición de la píldora sea relativa a este contenedor -->
    <!-- Píldora -->
    <div
      class="absolute top-2 right-2 bg-transparent border border-black text-black rounded-full px-3 py-1 text-xs font-bold"
    >
      {status}
    </div>
    <h2 class="text-xl mb-2 font-angkor w-3/4">{title}</h2>
    <p class="mb-4 text-lg">{desc}</p>
    <div class="flex">
      {
        tecnoImg.map((img, index) => (
          <div class="w-12 h-12 mx-2 overflow-hidden">
            <img src={img.tecnoSrc} alt={img.tecnoAlt} />
          </div>
        ))
      }
    </div>
  </div>
  <!-- Botones -->
  <div class="flex justify-center mt-2 mb-4">
    <button
      class="bg-gradient-to-r from-purple-900 to-pink-800 hover:from-pink-800 hover:to-purple-900 hover:shadow-indigo-900 text-white py-1 px-2 rounded-full shadow-md hover:shadow-lg"
    >
      <a href={url} target="_blank">Ver más</a>
    </button>
  </div>
</div>
